@font-face {
  font-family: 'Satoshi';
  src: url('$lib/assets/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
    url('$lib/assets/fonts/satoshi/Satoshi-Variable.woff') format('woff'),
    url('$lib/assets/fonts/satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('$lib/assets/fonts/satoshi/Satoshi-VariableItalic.woff2')
      format('woff2'),
    url('$lib/assets/fonts/satoshi/Satoshi-VariableItalic.woff') format('woff'),
    url('$lib/assets/fonts/satoshi/Satoshi-VariableItalic.ttf')
      format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('$lib/assets/fonts/cabinet-grotesk/CabinetGrotesk-Variable.woff2')
      format('woff2'),
    url('$lib/assets/fonts/cabinet-grotesk/CabinetGrotesk-Variable.woff')
      format('woff'),
    url('$lib/assets/fonts/cabinet-grotesk/CabinetGrotesk-Variable.ttf')
      format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: normal;
  src: url('$lib/assets/fonts/iosevka/iosevka-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-style: italic;
  font-weight: normal;
  src: url('$lib/assets/fonts/iosevka/iosevka-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-style: oblique;
  font-weight: normal;
  src: url('$lib/assets/fonts/iosevka/iosevka-oblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: bold;
  src: url('$lib/assets/fonts/iosevka/iosevka-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-style: italic;
  font-weight: bold;
  src: url('$lib/assets/fonts/iosevka/iosevka-bolditalic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-style: oblique;
  font-weight: bold;
  src: url('$lib/assets/fonts/iosevka/iosevka-boldoblique.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Icomoon';
  src: url('$lib/assets/fonts/icomoon/icomoon.woff') format('woff'),
    url('$lib/assets/fonts/icomoon/icomoon.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}
