@use '@fontsource/figtree/scss/mixins' as Figtree;

@include Figtree.fontFace(
  $weight: 400,
  $style: normal,
  $fontDir: '@fontsource/figtree/files'
);

@include Figtree.fontFace(
  $weight: 700,
  $style: normal,
  $fontDir: '@fontsource/figtree/files'
);

@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/iosevka/iosevka-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/iosevka/iosevka-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-style: oblique;
  font-weight: normal;
  src: url('/fonts/iosevka/iosevka-oblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/iosevka/iosevka-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/iosevka/iosevka-bolditalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-style: oblique;
  font-weight: bold;
  src: url('/fonts/iosevka/iosevka-boldoblique.ttf') format('truetype');
}
