@use 'src/styles/_fonts';
@use 'src/styles/_variables' as *;

body {
  color: $text;
  font-family: Satoshi, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  font-feature-settings: 'ss03'; // Alternate 't'
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: $text;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 800;
  font-feature-settings: 'ss05'; // Alternate 'g'
}

h1 {
  line-height: 1;
  font-size: 6rem;

  @media screen and (max-width: $breakpoint-md) {
    font-size: clamp(4rem, 12vw, 6rem);
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  line-height: 1.35;
}
