@use 'src/styles/_fonts';
@use 'src/styles/_variables' as *;

body {
  color: $text;
  font-family: Figtree, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: $text;
  font-weight: bold;
}

h1 {
  line-height: 1;
  font-size: 6rem;

  @media screen and (max-width: $breakpoint-md) {
    font-size: clamp(4rem, 12vw, 6rem);
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  line-height: 1.4;
  color: $subtext1;
  font-size: 1.125rem;
}
