@use 'src/styles/_fonts';
@import 'src/styles/_variables';

html {
  scroll-behavior: smooth;
  scrollbar-color: $overlay2 $crust;
  scrollbar-width: auto;
}

body {
  background-color: $crust;
  color: $text;
  font-family: sans-serif;
  margin: 0;

  &::-webkit-scrollbar {
    width: 0.7rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $overlay2;
    border-radius: 1rem;
    border: 0.2rem solid $crust;
  }
  &::-webkit-scrollbar-track {
    background-color: $crust;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text;
  margin: 0;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  color: $subtext1;
  font-size: 1rem;
  margin: 0;
}

.mono {
  color: $lavender;
  font-family: Iosevka;
}
